@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
body {
  background-image: url("../Images/kitchen.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.background-image {
  width: 2086px;
  height: 1080px;
  left: -150px;
  top: 0px;
  position: absolute;
}

.blue_background {
  width: 1175px;
  height: 1080px;
  left: 745px;
  top: 0px;
  position: absolute;
  background: #59d2ee;
}

.w3-card-center {
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 35%;
}

.w3-card-4 {
  position: relative;
  border-style: solid;
  z-index: 1000;
}

.w3-container p {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
}

.character_name {
  color: white;
  font-size: 40px;
  font-family: "Pixelify Sans", sans-serif;
}

.email {
  color: white;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
}

.character-image {

  height: 579px;
  left: 350px;
  top: 350px;
  position: absolute;
}

.character_summary {
  color: white;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 600;
  padding-top: 10px;
}

.object-box {
  width: 121px;
  height: 121px;
  left: 1272px;
  top: 834px;
  position: absolute;
  background: #d9d9d9;

}
