body {
    background-image: url('../Images/kitchen.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

  }

  .container {
    width: 1920px;
    height: 1080px;
    position: relative;
    background: white;
  }
  
  .background-image {
    width: 2086px;
    height: 1080px;
    left: -677px;
    top: 0px;
    position: absolute;
  }
  
  .blue-box {
    width: 1175px;
    height: 1080px;
    left: 745px;
    top: 0px;
    position: absolute;
    background: #59D2EE;
  }

  .w3-card-4 { width: 300px; }
  .text-1 {
    width: 939px;
    left: 863px;
    top: 379px;
    position: absolute;
    color: #126C81;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 600;
  }
  
  .text-2 {
    width: 939px;
    left: 863px;
    top: 674px;
    position: absolute;
    text-align: center;
    color: #126C81;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 600; 
  }
  
  .character-image {
   width: 412px; 
   height: 579px; 
   left: 160px; 
   top: 402px; 
   position: absolute; 
  }
  
  .title {
   left:1050px; 
   top:124px; 
   position:absolute; 
   color:#125981; 
   font-size:70px; 
   font-family:'04b'; 
   font-weight:400; 
  }
  
  .email {
   left:1109px; 
   top:264px; 
   position:absolute; 
   color:#126C81; 
   font-size:30px; 
   font-family:Poppins; 
   font-weight:600;  
  }
  
  .object-box {
   width:121px; 
   height:121px; 
   left:1272px; 
   top:834px; 
   position:absolute; 
   background:#D9D9D9; 
   border-radius:16px; 
   border-width :10px ;  
   border-color :#126C81 ;  
   border-style :solid ;  
  }