@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body {
    background-image: url('../Images/Salon.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

  }

#Card h1{

    padding: 1%;
    background-color: black;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    opacity: 85%;
    margin: auto;
    margin-top: 10%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Poppins;
    margin-top: 10%;
}
input{ 
    text-align: center;
    width: 800px;
}